ASPNETCORE_ENVIRONMENT=Development

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=mercato;Username=mercato;Password=mercato

Jwt__Issuer=Mercato.Api
Jwt__Audience=Mercato.Client
Jwt__Key=CHANGE_THIS_SECRET
